.settings-main-div{
    display: flex; 
    flex-direction: row; 
    height: 10px;
    width: 10px;
}
.open-settings{
    position: relative;
    animation-name: open-settings-anim;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    right: 10px;
    color: white;
    cursor: pointer;
}
.close-settings{
    position: relative;
    animation-name: close-settings-anim;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    right: 0px;
    color: white;
    cursor: pointer;
}

.null-settings{
    position: relative;
    right: 0px;
    color: white;
    cursor: pointer;
}
@keyframes open-settings-anim{
    from{
       right: 0px;
    }
    to{
        right: 10px;
    }
}

@keyframes close-settings-anim{
    from{
        right: 10px;
    }
    to{
        right: 0px;
    }
}

/*
    [class.open-dlt]="open == true && animated == false"
    [class.opened-dlt]="open == true && animated == true"
    [class.close-dlt]="open == false && animated == false"
    [class.closed-dlt]="open == false && animated == true"
*/
.open-dlt{
    animation-name: open-dlt-anim;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    font-size: 15px;
    color: red;
    cursor: pointer;
}

.close-dlt{
    animation-name: close-dlt-anim;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    font-size: 0px;
    color: red; 
    cursor: pointer;
}
.null-dlt{
    font-size: 0px;
    color: red; 
    cursor: pointer;
}

@keyframes open-dlt-anim{
    from{
        font-size: 0px;

    }
    to{
        font-size: 15px;

    }
}

@keyframes close-dlt-anim{
    from{
        font-size: 15px;

    }
    to{
        font-size: 0px;

    }
}