.settings-main-div{
    display: flex; 
    flex-direction: row; 
}
.open-settings{
    animation-name: open-settings-anim;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    margin-left: 20px;
    color: lightgrey;
    cursor: pointer;
}
.close-settings{
    animation-name: close-settings-anim;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    margin-left: 0px;
    color: grey;
    cursor: pointer;
}

.null-settings{
    margin-left: 0px;
    color: grey;
    cursor: pointer;
}

@keyframes open-settings-anim{
    from{
       margin-left: 0px;
       color: grey;
    }
    to{
       margin-left: 20px;
       color: lightgrey;
    }
}

@keyframes close-settings-anim{
    from{
       margin-left: 20px;
       color: lightgrey;
    }
    to{
       margin-left: 0px;
       color: grey;
    }
}

/*
    [class.open-dlt]="open == true && animated == false"
    [class.opened-dlt]="open == true && animated == true"
    [class.close-dlt]="open == false && animated == false"
    [class.closed-dlt]="open == false && animated == true"
*/
.open-dlt{
    animation-name: open-dlt-anim;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.close-dlt{
    animation-name: close-dlt-anim;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    font-size: 0px;
    color: red; 
    cursor: pointer;
}
.null-dlt{
    font-size: 0px;
    color: red; 
    cursor: pointer;
}

@keyframes open-dlt-anim{
    from{
        font-size: 0px;
    }
    to{
        font-size: 20px;
    }
}

@keyframes close-dlt-anim{
    from{
        font-size: 20px;
    }
    to{
        font-size: 0px;
    }
}