#app-main-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid black;
    
}

#app-nav-div{
    height: 100%;
    width: 20%;
    position: relative;

}

#app-content-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    height: 100%;
    width: 80%;
    padding: 0px;
    position: relative;
    background-color: #edeae7;
}

#app-button-div{
    background-color:black;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.app-white-block{
    width: 90%;
    height: 13%;
    background-color: white;
}
.app-column{
    height: 100%;   
}
.app-one{
    width: 3%;
    height: 100%;
}
.app-two{
    width: 97%;
}

.app-nav-open{
    left: 0%;
}
.app-anim-nav-open{
    animation-name: open-nav;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.app-nav-close{
    left: -20%;
}
.app-anim-nav-close{
    animation-name: close-nav;
    animation-duration: 0.5s;;
    animation-iteration-count: 1;
}

.app-content-open{
    left: -20%;
}

.app-content-close{
    left: 0%;
}

.app-anim-content-open{
    animation-name: open-content;
    animation-duration: 0.5s;
    animation-iteration-count: 1;  
}

.app-anim-content-close{
    animation-name: close-content;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes open-nav{
    from{
        left: -20%;
    }
    to{
        left: 0%;
    }
}

@keyframes close-nav{
    from{
        left: 0%;
        /*display: inline-block;*/
    }
    to{
        left: -20%;
        /*display: none;*/
    }
}

@keyframes open-content{
    from {
        left: 0%;
    }
    to{
        left: -20%;
    }
}

@keyframes close-content{
    from {
        left: -20%;
    }
    to{
        left: 0%;
    }
}