.component-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgrey;
    align-items: center;
}

.addmedia-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}