<div 
  id="addmedia-component" 
  class="addmedia-component-div">

    <div 
      class="addmedia-form">

        <div 
          id="addmedia-form-div">

            <form  
              #mediaForm="ngForm" 
              enctype="multipart/form-data" 
              class="addmedia-form"  
              id="media-form" 
              name="form-media" 
              method="POST">
                <media-input 
                  [title]="'Media'" 
                  [inputType]="'text'" 
                  [iconClass]="'fas fa-link'">
              </media-input>

                <media-input 
                  [title]="'Data de início'" 
                  [inputType]="'datetime-local'" 
                  [iconClass]="'fas fa-calendar-alt'">
                </media-input>

                <media-input 
                  [title]="'Data de Fim'" 
                  [inputType]="'datetime-local'" 
                  [iconClass]="'fas fa-calendar-alt'">
                </media-input>

                <media-input 
                  [title]="'Send'" 
                  [inputType]="'submit'"  
                  [iconClass]="'fas fa-location-arrow'">
                </media-input>

                <input 
                  type="submit" 
                  value="submit"  
                  id="submit-btn" 
                  [class.disabled]="hassent == true" 
                  (click)="sendForm($event)" />

            </form>
        </div>

        <br/>
      
        <div *ngIf="received === true" style="width: 100%; height: 250px; overflow: scroll;">
          <p >
            {{message}}
          </p>
      </div>
    

    </div>

</div>