<div class="no-space media-input-main" *ngIf="inputType !== 'submit'">

  <div class="no-space media-input-title-div">

    <div
      class="no-space media-input-icon-div">
        <i 
          class={{iconClass}}
          [class.style-icon]="true === true"
          [class.no-space]="true === true">
       </i>
    </div>
    <div
      class="no-space media-input-text-div">
        <p 
          class="no-space style-font">
            {{title}}
        </p>
    </div>

  </div>

  <div class="no-space media-input-division-container">
    <div class="no-space media-input-division">
    </div>
  </div>
  
  <div class="no-space media-input-input-container">
      <input 
        class="no-space style-input-font media-input-style" 
        type={{inputType}}
        autocomplete="off"
        id={{inputId}}/>
  </div>

</div>
<div class="no-space media-input-submit-main" *ngIf="inputType === 'submit'">
  <div
    class="media-input-submit-button">
      <input 
        class="no-space style-font media-input-submit-style" 
        type={{inputType}} 
        value={{title}}/>
  </div>
  <div
    class="media-input-submit-icon">
      <i 
        class={{iconClass}}
        [class.style-icon]="true === true"
        autocomplete="off"
        [class.no-space]="true === true">
      </i>
  </div>

</div>
  