<div id="nav-div">
  <div (click)="goToSeeMedia()"  class="links" [class.selected]="path === '/seemedia'">
    <i class="fas fa-tv nav-icon"></i>
    <p>Ver Mídias</p>
  </div>
  <div (click)="goToAddMedia()" class="links"  [class.selected]="path === '/addmedia'">
    <i class="fas fa-folder-plus nav-icon"></i>
    <p>Adicionar Mídia</p>
  </div>
  <div (click)="goBack()" class="links">
    <i class="fas fa-undo-alt nav-icon"></i>
    <p>Voltar</p>
  </div>
  <p class="final">powered by <span class="gpe-G">G</span>PE with S2</p>
</div>