#nav-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}



.links{
    padding: 0%;
    background-color: rgba(51, 51, 51, 1);
    width: 100%;
    height: 5%;
    color: rgba(156, 156, 156, 1);
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.gpe-G{
    color: green;
}
.empty{
    height: 80%;
    justify-content: flex-end;
    font-family: sans-serif;
}

.selected{
    background-color: orange;
    color: white;
}


