/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 99.5vh;
    width: 99.8vw;
    border: 1px dashed red;
}
/*
app-root{

    height: 100%;
    width: 100%;

}
*/